[user]
	name = Andyke87
	email = andy.lauwers@student.hogent.be
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	editor = notepad
[safe]
	directory = C:/Users/andy
